:root {
  --navy-blue: #2e2f42;
  --iris: #4d5ae5;
  --slate: #434455;
  --cloud: #f4f4fd;
  --white: #ffffff;
  --cornflower: #e7e9fc;
  --ocean: #404bbf;
  --green: #31d0aa;
  --lightslate: #8e8f99;
  --navyblue-modal: #2e2f42;
  --dairy: #fcfcfc;
  --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --header-bg-gradient: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
  --navyblue-modal: rgba(46, 47, 66, 0.4);
}
body {
  background-color: var(--white);
  color: #434455;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
}

.container {
  min-width: 320px;
  max-width: 427px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;

  outline: 2px solid lightcoral;
  outline-offset: 2px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.link {
  display: block;
  text-decoration: none;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.address {
  font-style: normal;
}

.header {
  border-bottom: 1px solid var(--cornflower);
  background-color: var(--white);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
  gap: 40px;
}

@media only screen and (max-width: 767px) {
  .header-nav-list {
    display: none;
  }
}

.address-list {
  display: flex;
  gap: 40px;
}

@media only screen and (max-width: 767px) {
  .address-list {
    display: none;
  }
}

.logo {
  margin-right: 76px;
  color: var(--iris);
  font-weight: 800;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-span {
  color: var(--navy-blue);
}

.header-nav-link {
  display: block;
  padding: 24px 0;
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  position: relative;
  color: var(--ocean);
}

.current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean);
}

.header-contacts-link {
  display: block;
  padding: 24px 0;
  color: var(--slate);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-link:hover,
.header-contacts-link:focus,
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--ocean);
}

.hero {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: var(--navy-blue);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-title {
  max-width: 496px;
  margin: 0 auto;

  margin-bottom: 72px;
  color: var(--white);
  font-weight: 700;

  font-size: 36px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    margin-bottom: 36px;
  }
}

@media only screen and (min-width: 1156px) {
  .hero-title {
    margin-bottom: 48px;
  }
}

.hero-button {
  display: block;
  min-width: 169px;
  margin: 0 auto;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background-color: var(--iris);
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 24px;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
}

.specs {
  padding: 96px 0;
}

@media only screen and (min-width: 1156px) {
  .specs {
    padding: 120px 0;
  }
}

.specs-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .specs-list {
    column-gap: 24px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1156px) {
  .specs-list {
    flex-wrap: nowrap;
  }
}

.specs-item {
  flex-basis: 100%;
}

@media only screen and (min-width: 768px) {
  .specs-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1156px) {
  .specs-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}

.specs-icon-div {
  display: none;
}

@media only screen and (min-width: 1156px) {
  .specs-icon-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    background: var(--cloud);
  }
}

.specs-icon {
  width: 64px;
  height: 64px;
}

.specs-title {
  margin-bottom: 8px;
  color: var(--navy-blue);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-size: 36px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .specs-title {
    text-align: left;
  }
}

@media only screen and (min-width: 1156px) {
  .specs-title {
    font-size: 20px;
  }
}

.specs-p {
  color: var(--slate);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.wrwd {
  padding-bottom: 120px;
}

@media only screen and (max-width: 1155px) {
  .wrwd {
    display: none;
  }
}

.wrwd-title {
  margin-bottom: 72px;
  color: var(--navy-blue);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.wrwd-list {
  display: flex;
  gap: 24px;
}

.wrwd-item img {
  border: 1px solid #e7e9fc;
}

.our-team {
  padding: 96px 0;
  background-color: var(--cloud);
}

@media only screen and (min-width: 1156px) {
  .our-team {
    padding: 120px 0;
  }
}

.our-team-title {
  margin-bottom: 72px;
  color: var(--navy-blue);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.our-team-list {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  gap: 72px;
  justify-content: center;
  align-items: center;
  /* gap: 24px; */
}

@media only screen and (min-width: 768px) {
  .our-team-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
}

.team-member {
  max-width: 264px;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-member-descr {
  padding: 32px 0;
}

.team-member-name {
  margin-bottom: 8px;
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-member-pos {
  margin-bottom: 8px;
  color: var(--slate);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-member-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
}

.team-member-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-member-link:hover,
.team-member-link:focus {
  background-color: var(--ocean);
}

.media-icon {
  fill: var(--cloud);
}

.customers {
  padding: 96px 0;
}

@media only screen and (min-width: 1156px) {
  .customers {
    padding: 120px 0;
  }
}

.customers-title {
  margin-bottom: 72px;
  color: var(--navy-blue);
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-align: center;
  text-transform: capitalize;
}

.customers-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 72px;
  align-content: center;
  /* gap: 24px;
  justify-content: space-between; */
  justify-content: center;
  align-items: center;
  column-gap: 16px;
}

@media only screen and (min-width: 768px) {
  .customers-list {
    column-gap: 24px;
  }
  .customers-item {
    flex-basis: 168px;
  }
}

.customers-item {
  width: calc((100% - 16px) / 2);
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 88px;
  border: 1px solid var(--lightslate);
  border-radius: 4px;
  color: var(--lightslate);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover > .customers-icon,
.customers-link:focus > .customers-icon {
  fill: var(--ocean);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--ocean);
  color: var(--ocean);
}

.customers-icon {
  fill: currentColor;
}

/* TODO------------------------- */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-btn-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio-btn {
  padding: 12px 24px;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  background-color: var(--cloud);
  color: var(--iris);
  font-weight: 500;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  border: 1px solid transparent;
  background-color: var(--ocean);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.portfolio-content-cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-card {
  flex-basis: 360px;
  border: none;
}

.portfolio-card .link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card .link:hover,
.portfolio-card .link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-card-img {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: var(--iris);
  color: var(--cloud);
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.portfolio-card .link:hover .overlay,
.portfolio-card .link:focus .overlay {
  transform: translateY(0);
}

.portfolio-card-content {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.portfolio-content {
  margin-bottom: 8px;
  color: var(--navy-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-content-descr {
  color: var(--slate);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ------------------------------ */

.footer {
  padding: 96px 0;
  background-color: var(--navy-blue);
}

@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
  .footer > .container {
    flex-direction: row;
    gap: 0;
    align-items: baseline;
  }
  .footer-info {
    margin-right: 120px;
  }
}

.footer > .container {
  display: flex;

  flex-direction: column;
  gap: 72px;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .footer > .container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    column-gap: 24px;
    padding-left: 108px;
    padding-right: 108px;
  }
}

@media only screen and (min-width: 1158px) {
  .footer > .container {
    gap: 0;
    flex-wrap: nowrap;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer .logo {
  display: inline-block;
  margin-right: auto;
  margin-bottom: 16px;
  margin-left: auto;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .footer .logo {
    margin-left: 0;
    text-align: left;
  }
}

.footer .logo-span {
  color: var(--cloud);
}

.footer-text {
  width: 264px;
  color: var(--cloud);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

@media only screen and (min-width: 1158px) {
  .social-media {
    margin-right: 80px;
  }
}

.footer-social {
  margin-bottom: 16px;
  color: var(--white);
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .footer-social {
    text-align: left;
  }
}

.footer-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--green);
}

.footer-icon {
  fill: var(--cloud);
}

.footer-subscribtion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .footer-subscribtion {
    display: block;
  }
}

.subscription-caption {
  margin-bottom: 16px;
  color: var(--white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

.subscription-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .subscription-form {
    flex-direction: row;
    gap: 24px;
  }
  .subscription-input {
    width: 264px;
  }
}

.subscription-input {
  width: 398px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid var(--white);
  border-radius: 4px;
  background: transparent;
  color: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5; /* 200% */
  letter-spacing: 0.48px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

@media only screen and (min-width: 768px) {
  .subscription-input {
    width: 264px;
  }
}

.subscription-input::placeholder {
  color: var(--white);
  font-weight: 400;
  font-size: 12px;
  font-family: Roboto;
  line-height: 2; /* 200% */
  letter-spacing: 0.48px;
}

.subscription-btn {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  background-color: var(--iris);
  color: var(--white);
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
  text-align: center;
  cursor: pointer;
}

.subscription-icon {
  display: block;
  margin-left: 16px;
}

/* TODO ========================= */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 392px;
  min-height: 584px;
  padding: 24px;
  padding-top: 72px;
  border-radius: 4px;
  background: var(--dairy);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(1);
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
  }
}

.backdrop.is-hidden .modal {
  opacity: 0;
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--cornflower);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  border: none;
  background-color: var(--ocean);
}

.close-btn-icon {
  width: 8px;
  height: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover > .close-btn-icon,
.close-btn:focus > .close-btn-icon {
  fill: var(--white);
}

.modal-form-caption {
  display: block;
  margin-bottom: 16px;
  color: var(--navy-blue);
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-align: center;
}

.modal-form {
}

.modal-form-point {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 8px;
}

.comment {
  margin-bottom: 16px;
}

.modal-form-label {
  margin-bottom: 4px;
  color: var(--lightslate);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding: 11px;
  padding-left: 38px;
  border: 1px solid var(--navyblue-modal);
  border-radius: 4px;
  background: transparent;
  outline: transparent;
  transition: border-color var(--anim);
}

.modal-form-input:focus {
  border-color: var(--iris);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--iris);
}

.modal-form-input-div {
  position: relative;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: var(--navy-blue);
  transition: fill var(--anim);
  transform: translateY(-50%);
}

.modal-form-comment {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid var(--navyblue-modal);
  border-radius: 4px;
  background: transparent;
  color: var(--navyblue-modal);
  outline: transparent;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.48px;
  resize: none;
  transition: border-color var(--anim);
}
.modal-form-comment:focus {
  border-color: var(--iris);
}

.modal-form-comment::placeholder {
  color: var(--navyblue-modal);
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 1.16; /* 116.667% */
  letter-spacing: 0.48px;
}

.modal-form-agreement {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
}

.modal-form-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid var(--navyblue-modal);
  border-radius: 2px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-check:checked + label > .modal-form-checkbox {
  border: none;
  background-color: var(--ocean);
  fill: var(--cloud);
}

.modal-form-agreement-text {
  color: var(--lightslate);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
  user-select: none;
}

.modal-form-policy {
  display: inline;
  margin-left: 4px;
  color: var(--iris);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
}

.modal-form-submit {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background: var(--iris);
  color: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
  text-align: center;
  cursor: pointer;
  transition: background-color var(--anim);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--ocean);
}

/* ! MOBILE MENU */

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-toggle-icon {
  stroke: var(--navy-blue);
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #3f51b5;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
